ARDUINO/GROUU_V3/server/node-red-downlink-flow.json
[
  {
    "id": "dl_comment",
    "type": "comment",
    "z": "wellbouy_tab",
    "name": "TTN downlinks — click an inject to queue a command (applied on the node's NEXT wake)",
    "info": "Publishes a downlink to TTN over the same MQTT broker as the uplink flow.\nThe node reads it in the RX window after its next uplink and acts on it.\n\nCommands (see include/config.h):\n  01 <min>  set deep-sleep interval, minutes 1..255  (0x01)\n  02        reboot the node                          (0x02)\n\nbase64 payloads used below:\n  AQU=  = 01 05  -> 5 min\n  AR4=  = 01 1E  -> 30 min\n  Ag==  = 02     -> reboot\n\nEDIT the 'build TTN downlink' function: set APP (and confirm DEV).",
    "x": 320,
    "y": 260,
    "wires": []
  },
  {
    "id": "dl_inject_5min",
    "type": "inject",
    "z": "wellbouy_tab",
    "name": "↓ interval 5 min (01 05)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "once": false,
    "topic": "",
    "payload": "AQU=",
    "payloadType": "str",
    "x": 180,
    "y": 300,
    "wires": [["dl_build"]]
  },
  {
    "id": "dl_inject_30min",
    "type": "inject",
    "z": "wellbouy_tab",
    "name": "↓ interval 30 min (01 1E)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "once": false,
    "topic": "",
    "payload": "AR4=",
    "payloadType": "str",
    "x": 180,
    "y": 340,
    "wires": [["dl_build"]]
  },
  {
    "id": "dl_inject_reboot",
    "type": "inject",
    "z": "wellbouy_tab",
    "name": "↓ reboot (02)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "once": false,
    "topic": "",
    "payload": "Ag==",
    "payloadType": "str",
    "x": 160,
    "y": 380,
    "wires": [["dl_build"]]
  },
  {
    "id": "dl_build",
    "type": "function",
    "z": "wellbouy_tab",
    "name": "build TTN downlink",
    "func": "// EDIT these to match your TTN application + device:\nconst APP = \"REPLACE_WITH_APP_ID\";     // TTN application id\nconst DEV = \"grouu-bouy-proto\";        // TTN device id (confirm)\n\nmsg.topic = \"v3/\" + APP + \"@ttn/devices/\" + DEV + \"/down/push\";\nmsg.payload = JSON.stringify({\n    downlinks: [{\n        f_port: 1,\n        frm_payload: msg.payload,   // base64 command from the inject node\n        priority: \"NORMAL\"\n    }]\n});\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 340,
    "wires": [["dl_mqtt", "dl_dbg"]]
  },
  {
    "id": "dl_mqtt",
    "type": "mqtt out",
    "z": "wellbouy_tab",
    "name": "TTN downlink",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "ttn_broker",
    "x": 680,
    "y": 320,
    "wires": []
  },
  {
    "id": "dl_dbg",
    "type": "debug",
    "z": "wellbouy_tab",
    "name": "downlink queued",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 690,
    "y": 370,
    "wires": []
  }
]
